    .game{
        width: 200px;
        height: 400px;
        background-color: #F2FAFF;
        position: absolute;
        border-left: 1px solid blue;
        border-bottom: 1px solid blue;
        border-right: 1px solid blue;
        top: 10px;
        left: 10px;
    }
    .refreshGame{
        margin-top: 5px;
    }
    .next{
        width: 80px;
        height: 80px;
        position: absolute;
        background-color: #F2FAFF;
        border:1px solid blue;
        top: 10px;
        left: 250px;
    }
    .info{
        position: absolute;
        top: 100px;
        left: 250px;
    }
    .none,.current,.done{
        width: 20px;
        height: 20px;
        position: absolute;
        box-sizing: border-box;
    }
    .none{
        background-color: #F2FAFF;
    }
    .current{
        background-color: pink;
        border:1px solid red;
    }
    .done{
        background-color: gray;
        border:1px solid black;
    }
    .sore-wrap {
        position: absolute;
        top: 100px;
        left: 260px;
        font-size: 14px
    }
    .sore-wrap div {
        margin-top: 5px;
    }
    .sore {
        font-size: 20px;
        font-weight: 600;
        color: #409eff
    }
    .game .game-over {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 998;
        background: rgba(0, 0, 0, .5);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #F2FAFF;
        font-style: 24px;
        font-weight: 600;
    }
    .game .game-over .reStart {
        color: #94cbf3;
        font-size: 16px;
        font-weight: 200;
        cursor: pointer;
    }
    .game .game-over .reStart:hover {
        color: #40eeff
    }
    .game .game-over .reStart:active {
        color: #409eff
    }