* {
        margin: 0;
        padding: 0;
}

body {
        text-align: center
}

.none {
        display: none
}

.wrap {
        position: relative;
        margin: auto;
        width: 500px;
        height: 300px;
        border: 1px solid #f00
}
/* 背景样式 */
.back {
        position: absolute;
        background: #000;
        width: 10px;
        height: 10px;
}

/* 蛇的样式 */
.snake {
        position: absolute;
        background: #0f0;
        width: 10px;
        height: 10px;
}

/* 点的样式 */
.dot {
        position: absolute;
        background: #f00;
        width: 10px;
        height: 10px;
}

/* 得分样式 */
.score_wrap {
        margin: 100px auto 0 auto;
        width: 500px;
        font-size: 16px;
        font-weight: 600;
        text-align: right
}

.score{
        font-size: 22px;
        color: #449eff
}

/*  */
.over {
        position: absolute;
        text-align: center;
        line-height: 300px;
        font-size: 24px;
        font-weight: 500;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        color: #eee;
        background: rgba(0, 0, 0, .4)
}