* {
        margin: 0;
        padding: 0;
}
body {
        width: 100%;
        height: 100%;
        overflow: hidden;
}
.canvas {
        display: block;
        margin: 200px auto;
        box-shadow: -2px -2px 2px #EFEFEF, 5px 5px 5px #B9B9B9;
}